@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (min-width: 800px){   
.header{
    
    width: 100rem;
    height: 56.875rem;

   .navbar{
       display: flex;
       height: 85px;
       margin-left: 130px;
       width: 100%;

       ul{
           display: flex;
           width: 492px ;
           margin-left: 510px;
           margin-right: 130px;
           align-items: center;
           justify-content:end;
           gap: 40px ;
           font-weight: 400;
           z-index: 5;
           font-size: 16px;
           line-height: 21.09px;
           list-style: none;

           
       }
   }

   .header_main-text{
        position: absolute; 
        width: 459px;
        height: 265px;
        left: 926px;
        top: 277px;

       #header_main-text-title{
        
           font-size: 56px;
           font-weight: 500;
           line-height: 66.36px;
    

       }
       #header_main-text-description{
           font-size: 18px;
           font-weight: 400;
           line-height: 21.33px;

       }
   }

   #asset1{
     position: absolute; 
       width: 7.43rem;
       height: 6.93rem;
       top: 0;
       left: 0;
   }
   #asset2{
       position: absolute;
       width: 359px;
       height: 376px;
       top: -14px;
       left: 1270px;
       
   }
   #asset3{
       position: absolute;
       width: 266px;
       height: 580px;
       top: 325px;
       left: -29px;
       z-index: 1;

   }
   #asset4{
       position: absolute;
       width: 207px;
       height: 249px;
       top: 645px;
       left: 1422px;
     
   }
   #graphic12{
       position: absolute;
       width: 1403px;
       height: 789.19px;
       top: 116px;
       left: -6px;

   }
   #vector{
       position: absolute;
       width: 643.63px;
       height: 438.44px;
       top: 466.75px;
       left: 142.19px;
       z-index: 3;
   
   }
  
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

}

@media only screen and ( max-width : 800px) {
    

.header {
       
    
        .navbar {
           

            img{
                height: 100px;
                width: 355px;
            }
    
            ul {
                display: flex;
                gap: 15px;
                font-size: 14px;
                justify-content: center;
            
            }
        }
    
        .header_main-text {
            position: relative; 
            width: 300px; 
            margin: 70px auto; 
            text-align: center; 
            top: 0;
    
            #header_main-text-title {
                font-size: 32px; 
                font-weight: 500;
                line-height: 40px;
            }
    
            #header_main-text-description {
                font-size: 14px; 
                font-weight: 400;
                line-height: 18px;
            }
        }
    
    #asset1,
    #asset2,
    #asset3,
    #asset4,
    #graphic12,
    #vector {
           display: none; 
    }
}
}
    
   
    
